/* Style the header */
.header {
	font-family: Paltino;
	color: white;
    background-color: Orange;
    padding: 20px;
    text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: Orange;
    color: ;
}

h1{
	font-family: Paltino;
}

html{
	background-color: #fffaf0;
}

h2{
	font-size: 40px; 
	font-family: Paltino;
	color: White;
	background-color: Orange;
	text-align: center;
}

h3{
	background-color: #333;
	padding: 0;
	color: #333;
    overflow: hidden;
}

.p{
		font-family: Arial;
}